<h2>Add a message</h2>
<form method="POST" action="/new">
  <label for="user">Username:</label>
  <input name="user">
  <label for="text">Message:</label>
  <input name="text">
  <input type="submit" value="Send">
</form>